@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-smooth: antialiased;
}
#notoFont{
    font-family: 'Noto Sans', sans-serif;
}
@media screen and (min-width: 1535px){
  ::-webkit-scrollbar {
    width: 8px; 
  }
  ::-webkit-scrollbar-track {
    background: #181818; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }
}

.search .input {
  transition: width 0.3s ease;
}

.btn {
  transition: transform 0.3s ease;

}

.search.active .input {
  width: 240px;
}

.search.active .btn {
  transform: translateX(230px);
}